_*
__*
.*
!.vscode/
!.*.js
!.*.json
*.fixture.*
bin/
build/
fixtures/
nuget_modules/
obj/
types/
*.md
*.as?x
*.cmd
*.config
*.cs
*.csproj
*.DotSettings
*.gif
*.handlebars
*.ico
*.jison
*.jpg
*.lock
*.png
*.props
*.ps1
*.runsettings
*.sln
*.svg
*.targets
*.txt
*.xml
*.xsd
